<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantour.ssm.dao.HistoryMapper">

    <resultMap id="StockRecordMap" type="com.quantour.ssm.model.StockRecord">
        <id column="user_id" jdbcType="VARCHAR" property="user_id"/>
        <id column="date_time" jdbcType="VARCHAR" property="date_time"/>
        <result column="code_id" jdbcType="VARCHAR" property="code_id"/>
    </resultMap>

    <resultMap id="StrategyRecordMap" type="com.quantour.ssm.model.StrategyRecord">
        <id column="user_id" jdbcType="VARCHAR" property="user_id"/>
        <id column="result_time" jdbcType="VARCHAR" property="result_time"/>
        <result column="strategy_name" jdbcType="VARCHAR" property="strategy_name"/>
        <result column="strategy_intro" jdbcType="VARCHAR" property="strategy_intro"/>
        <result column="start_time" jdbcType="DATE" property="start_time"/>
        <result column="end_time" jdbcType="DATE" property="end_time"/>
        <result column="base_block" jdbcType="VARCHAR" property="base_block"/>
        <result column="year_profit" jdbcType="DOUBLE" property="year_profit"/>
        <result column="standard_profit" jdbcType="DOUBLE" property="standard_profit"/>
        <result column="alpha" jdbcType="DOUBLE" property="alpha"/>
        <result column="beta" jdbcType="DOUBLE" property="beta"/>
        <result column="sharp_rate" jdbcType="DOUBLE" property="sharp_rate"/>
        <result column="profit_waverate" jdbcType="DOUBLE" property="profit_waverate"/>
        <result column="info_percent" jdbcType="DOUBLE" property="info_percent"/>
        <result column="max_back" jdbcType="DOUBLE" property="max_back"/>
        <result column="turnover_rate" jdbcType="DOUBLE" property="turnover_rate"/>
    </resultMap>

    <select id="getUserAllStockRecord" parameterType="java.lang.String" resultMap="StockRecordMap">
        select *
        from t_user_stock_record
        where user_id = #{userid}
    </select>

    <select id="selectOneStockRecord" resultMap="StockRecordMap">
        select *
        from t_user_stock_record
        where user_id = #{param1,jdbcType=VARCHAR} and date_time = #{param2,jdbcType=VARCHAR}
    </select>

    <insert id="insertOneStockRecord" parameterType="com.quantour.ssm.model.StockRecord">
        insert into t_user_stock_record(user_id,code_id,date_time)
        VALUES (#{user_id},#{code_id},#{date_time})
    </insert>

    <delete id="deleteOneStockRecord">
        delete from t_user_stock_record
        where user_id = #{param1} and date_time = #{param2}
    </delete>

    <delete id="deleteAllStockRecord" parameterType="java.lang.String">
        delete from t_user_stock_record
        where user_Id = #{userid}
    </delete>


    <select id="getUserAllStrategyRecord" parameterType="java.lang.String" resultMap="StrategyRecordMap">
        select *
        from t_user_strategy_record
        where user_id = #{userid}
    </select>

    <select id="selectOneStrategyRecord" resultMap="StrategyRecordMap">
        select *
        from t_user_strategy_record
        where user_id = #{param1} and result_time = #{param2}
    </select>

    <insert id="insertOneStrategyRecord" parameterType="com.quantour.ssm.model.StrategyRecord">
        insert into t_user_strategy_record(user_id,result_time,strategy_name,strategy_intro,start_time,end_time,base_block,year_profit,standard_profit,alpha,beta,sharp_rate,profit_waverate,info_percent,max_back,turnover_rate)
        VALUES (#{user_id},#{result_time},#{strategy_name},#{strategy_intro},#{start_time},#{end_time},#{base_block},#{year_profit},#{standard_profit},#{alpha},#{beta},#{sharp_rate},#{profit_waverate},#{info_percent},#{max_back},#{turnover_rate})
    </insert>

    <delete id="deleteOneStrategyRecord">
        delete from t_user_strategy_record
        where user_id = #{param1} and result_time = #{param2}
    </delete>

    <delete id="deleteAllStrategyRecord" parameterType="java.lang.String">
        delete from t_user_strategy_record
        where user_id = #{userid}
    </delete>
</mapper>